---
title: Task Execution Progress Bar in VMware Spring Cloud® Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

Spring Cloud Data Flow OSS allows users to track each execution status for a task definition via the task execution detail page.
In addition to the task execution status, SCDF Pro server adds support for displaying a percent complete progress indicator on the task execution detail page.
This is done by calculating a percent complete using the duration of the current run time vs those of the previous execution run times for the task definition.
An example of the progress indicator is shown below:

![Task Execution Progress Bar](images/Task_Execution_Progress.png)

<p class="note">The first execution of a task definition will show 99% complete because there are no previous task executions.</p>
