---
title: Spring Cloud Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

This topic provides an overview of Spring Cloud Data Flow for Kubernetes.

## <a id='overview'></a> Overview

Spring Cloud Data Flow for Kubernetes orchestrates the deployment lifecycle of streaming and batch data pipelines to Kubernetes.
The data pipelines are composed of Spring Cloud Stream or Spring Cloud Task applications.
A streaming pipeline DSL and UI make it easy to specify which apps to deploy and how to connect outputs and inputs.
The composed task DSL and UI is useful when a series of task applications must be run as a directed graph.
It is based on the Spring Cloud Data Flow open source project.

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about Spring Cloud Data Flow for Kubernetes.
The table also provides information about the OSS versions used.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 9, 2020</td>
    </tr>
    <tr>
        <td>Software component versions:</td>
        <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Data Flow OSS</td>
      <td>v2.5.2.RELEASE</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Skipper OSS</td>
      <td>v2.4.2.RELEASE</td>
    </tr>
</table>


## <a id="limitations"></a> Limitations

The following section lists limitations of Spring Cloud Data Flow for Kubernetes.

### <a id="gen-limits"></a> General Limitations

* This product is compatible with the following Kubernetes release versions:

    * v1.16.x
    * v1.15.x
    * v1.14.x

    Future releases of Spring Cloud Data Flow for Kubernetes will be compatible with newer Kubernetes release versions, like v1.17.x and v1.18.x.

* This product is intended to be used with any Kubernetes distribution.
  However, given the number of Kubernetes vendors, and configurations,
  not all of them have been tested with Spring Cloud Data Flow for Kubernetes.

## <a id='getting-started'></a> Getting Started

See the [Preparing to install Spring Cloud Data Flow for Kubernetes](preparing-to-install-scdf-for-kubernetes.html) topic to set up the dependencies required to install Spring Cloud Data Flow for Kubernetes.
