---
title: Pivotal Spring Cloud Data Flow
owner: Spring Cloud Services
---

## <a id='about'></a>About Spring Cloud Data Flow for Kubernetes

Spring Cloud Data Flow is...


## <a id='features'></a>Key Features

Spring Cloud Data Flow for Kubernetes includes the following key features:


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Pivotal Spring Cloud Data Flow.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>vX.X.X</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>XXXX XX, 2020</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.4.x--v2.7.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.4.x--v2.7.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All supported by PCF</td>
    </tr>
</table>

## <a id="tile-oss-versions"></a> Tile and OSS Versions

The following table provides information about the OSS versions used in each version of Spring Cloud Data Flow for Kubernetes.

<table class="nice">
    <th>SCDF Tile</th>
    <th>SCDF OSS</th>
    <th>Spring Cloud Skipper OSS</th>
    <tr>
        <td>v1.4.x</td>
        <td>v2.0.x.RELEASE</td>
        <td>v2.0.x.RELEASE</td>
    </tr>
    <tr>
        <td>v1.5.x</td>
        <td>v2.1.x.RELEASE</td>
        <td>v2.0.x.RELEASE</td>
    </tr>
    <tr>
        <td>v1.6.x</td>
        <td>v2.2.x.RELEASE</td>
        <td>v2.1.x.RELEASE</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Spring Cloud Data Flow for Kubernetes has the following requirements:




## <a id="feedback"></a>Feedback

Email any bugs, feature requests, or questions to the
[feedback list](mailto:pivotal-cf-feedback@pivotal.io).
