---
title: VMware Spring Cloud® Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

This topic provides an overview of VMware Spring Cloud® Data Flow for Kubernetes.

## <a id='overview'></a> Overview

VMware Spring Cloud® Data Flow for Kubernetes (SCDF for Kubernetes) orchestrates the deployment lifecycle of streaming and batch data pipelines deployed on Kubernetes.
Data pipelines are composed of Spring Cloud Stream or Spring Cloud Task applications.
You can use the streaming pipeline DSL and UI to specify which apps to deploy and how to connect outputs and inputs.
When running a series of task applications as a directed graph, you can use the composed task DSL and UI.

SCDF for Kubernetes is based on the Spring Cloud Data Flow open source project.

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about VMware Spring Cloud® Data Flow for Kubernetes.
The table also provides information about the OSS versions used.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 12, 2021</td>
    </tr>
    <tr>
        <td>Software component versions:</td>
        <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Data Flow PRO</td>
      <td>v1.2.1</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Spring Cloud Skipper OSS</td>
      <td>v2.6.2</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;Composed Task Runner OSS</td>
      <td>v2.7.2</td>
    </tr>
</table>

## <a id="features"></a> Features

* Operational simplicity for provisioning Spring Cloud Data Flow OSS and other ecosystem projects on Kubernetes
* Certified container images for Spring Cloud Data Flow Pro, Spring Cloud Skipper, and Composed Task Runner
* Image-relocation capabilities for air-gapped deployments
* Support for using the relational databases, message brokers, and identity providers of your choice
* Easily explore the provisioned software components in a development environment before promoting to production

* Multi-IO stream support for constructing streaming pipelines using applications that have multiple inputs and outputs
* Container registry updates feature for registered stream and task apps

## <a id="limitations"></a> Limitations

The following section lists limitations of VMware Spring Cloud® Data Flow for Kubernetes.

### <a id="gen-limits"></a> General Limitations

* This product is compatible with the following Kubernetes release versions:

    * v1.18.x
    * v1.17.x
    * v1.16.x
    * v1.15.x
    * v1.14.x

* This product is intended to be used with any Kubernetes distribution.
  However, given the number of Kubernetes vendors and configurations,
  not all of them have been tested with SCDF for Kubernetes.

## <a id='getting-started'></a> Getting Started

To set up the dependencies required for installation, see [Preparing to Install VMware Spring Cloud® Data Flow for Kubernetes](preparing-to-install-scdf-for-kubernetes.html).
