---
title: Installing Command-Line Tools
owner: Spring Cloud Data Flow Release Engineering
---

This topic describes how to install the command-line tools that are required to install Spring Cloud Data Flow for Kubernetes.

## <a id='overview'></a> Overview

The command-line tools required to install Spring Cloud Data Flow for Kubernetes include the k14s utilities `kapp` and `kbld` as well as the `yq` utility.

* The `kapp` utility is a deployment tool with the concept of a "Kubernetes application": a set of resources with the same label.
  For more information about `kapp`, see [get-kapp.io](https://get-kapp.io/).

* The `kbld` utility manipulates and replaces container images used in Kubernetes configuration files.
  For more information about `kbld`, see [get-kbld.io](https://get-kbld.io/).

* The `yq` utility is a command-line YAML processor. The aim of the project is to be the `jq` or `sed` of YAML files.
  For more information, see (https://github.com/makefarah/yq).

For more information about the k14s utilities, see [k14s.io](https://k14s.io).

To install the `kapp` and `kbld` tools, follow the procedures in the next section for your operating system to obtain them from the [VMware Tanzu Network](https://network.pivotal.io/products/p-scdf-for-kubernetes). Binaries are provided only for 64-bit architectures.


## <a id='macos'></a> macOS

This section describes how to install `kapp`, `kbld`, and `yq` on macOS.


### <a id='macos-kapp'></a> kapp

This section describes how to install the `kapp` utility on macOS.


1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kapp**.

1. Click **kapp - macOS** to download the <code>kapp</code> binary.

1. Rename the downloaded binary to <code>kapp</code>.

1. On the command line, run the following command to make the <code>kapp</code> binary executable:
  <pre>$ chmod +x kapp</pre>

1. Move the binary into your <code>PATH</code>, as the following example shows:
  <pre>$ mv kapp /usr/local/bin/kapp</pre>


### <a id='macos-kbld'></a> kbld

This section describes how to install the `kbld` utility on macOS.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kbld**.

1. Click **kbld - macOS** to download the <code>kbld</code> binary.

1. Rename the downloaded binary to <code>kbld</code>.

1. On the command line, run the following command to make the <code>kbld</code> binary executable:
  <pre>$ chmod +x kbld</pre>

1. Move the binary into your <code>PATH</code>, as the following example shows:
  <pre>$ mv kbld /usr/local/bin/kbld</pre>



### <a id='macos-yq'></a> yq

This section describes how to install the `yq` utility on macOS.

1. Download the <a href="https://github.com/mikefarah/yq/releases/tag/3.3.0">3.3 binary</a>.

1. On the command line, run the following command to make the <code>yq</code> binary executable:
  <pre>$ chmod +x yq</pre>

1. Move the binary into your <code>PATH</code>, as the following example shows:
  <pre>$ mv yq /usr/local/bin/yq</pre>



## <a id='linux'></a> Linux

This section describes how to install `kapp`, `kbld`, and `yq` on Linux.

### <a id='linux-kapp'></a> kapp

This section describes how to install the `kapp` utility on Linux.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kapp**.

1. Click **kapp - Linux** to download the <code>kapp</code> binary.

1. Rename the downloaded binary to <code>kapp</code>.

1. On the command line, run the following command to make the <code>kapp</code> binary executable:
  <pre>$ chmod +x kapp</pre>

1. Move the binary into your <code>PATH</code>, as the following example shows:
  <pre>$ mv kapp /usr/local/bin/kapp</pre>



### <a id='linux-kbld'></a> kbld

This section describes how to install the `kbld` utility on Linux.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kbld**.

1. Click **kbld - Linux** to download the <code>kbld</code> binary.

1. Rename the downloaded binary to <code>kbld</code>.

1. On the command line, run the following command to make the <code>kbld</code> binary executable:
  <pre>$ chmod +x kbld</pre>

1. Move the binary into your <code>PATH</code>, as the following example shows:
  <pre>$ mv kbld /usr/local/bin/kbld</pre>


### <a id='liux-yq'></a> yq

This section describes how to install the `yq` utility on macOS.

1. Download the <a href="https://github.com/mikefarah/yq/releases/tag/3.3.0">3.3 binary</a>.

1. On the command line, run the following command to make the <code>yq</code> binary executable:
  <pre>$ chmod +x yq</pre>

1. Move the binary into your <code>PATH</code>, as the following example shows:
  <pre>$ mv yq /usr/local/bin/yq</pre>


<!-- restore this section once SCDF for K8s supports a Windows installation procedure

## Windows


### kapp

This section describes how to install the `kapp` utility on Windows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kapp**.

1. Click **kapp - Linux** to download the <code>kapp</code> binary.

1. Rename the downloaded binary to <code>kapp.exe</code>.

1. Move the binary into your <code>PATH</code>.


### kbld

This section describes how to install the `kbld` utility on Windows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kbld**.

1. Click **kbld - Linux** to download the <code>kbld</code> binary.

1. Rename the downloaded binary to <code>kbld.exe</code>.

1. Move the binary into your <code>PATH</code>.


### ytt

This section describes how to install the `ytt` utility on Widnows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **ytt**.

1. Click **ytt - Linux** to download the <code>ytt</code> binary.

1. Rename the downloaded binary to <code>ytt.exe</code>.

1. Move the binary into your <code>PATH</code>.


keep this '<' here or stuff breaks, srsly ->< -->

## <a id='deploying-tas-kubernetes'></a> Next: Configuring Spring Cloud Data Flow for Kubernetes Installation Values

Once you have completed the preparatory steps described earlier, proceed to [configure Spring Cloud Data Flow for Kubernetes](configuring-installation-values.html) for installation to the Kubernetes cluster.
