---
title: Installing and Configuring Spring Cloud Data Flow for Kubernetes
owner: Spring Cloud Services
---

Follow the below steps to install Spring Cloud Data Flow for Kubernetes.

## <a id="prerequisites"></a>Prerequisites

Spring Cloud Data Flow for Kubernetes has the following prerequisites:


## <a id="procedure"></a> Procedure

To install Spring Cloud Data Flow for Kubernetes, do the following:
