---
title: Installing Command-Line Tools
owner: Spring Cloud Data Flow Release Engineering
---

This topic describes how to install the command-line tools that are required to install VMware Spring Cloud® Data Flow for Kubernetes (SCDF for Kubernetes).

## <a id='overview'></a> Overview

Command-line tools required to install SCDF for Kubernetes include the following:

* `kubectl`, the Kubernetes CLI (for more information about installing `kubectl`, see [Installing the Kubernetes CLI](https://docs.pivotal.io/pks/installing-kubectl-cli.html) in the VMware Enterprise PKS documentation)
* `sed` (should already be installed on your machine)
* `yq`, a command-line YAML processing utility that aims to be the `jq` or `sed` of YAML files (for more information about `yq`, see the [project home page](https://github.com/mikefarah/yq) on GitHub)
* The following [Carvel](https://carvel.dev/) utilities:
  * `kapp`, a deployment utility that includes the concept of a "Kubernetes application": a set of resources with the same label (for more information about `kapp`, see [get-kapp.io](https://get-kapp.io/))
  * The `kbld` utility manipulates and replaces container images used in Kubernetes configuration files (for more information about `kbld`, see [get-kbld.io](https://get-kbld.io/))

For steps to install `kapp`, `kbld`, and `yq`, see the following sections. Follow the relevant procedures for your operating system and install the latest release of each tool.

<p class="note"><strong>Note</strong>: <code>kapp</code> and <code>kbld</code> are available from <a href="https://network.pivotal.io/products/p-scdf-for-kubernetes">VMware Tanzu Network</a>. Binaries are provided only for 64-bit architectures.</p>

## <a id='installation-instructions'></a> Installation Instructions

See the following sections for information about installing the required command-line tools depending on your operating system.

### <a id='macos'></a> For macOS

This section describes how to install `kapp`, `kbld`, and `yq` on macOS.

#### <a id='macos-kapp'></a> kapp

This section describes how to install the `kapp` utility on macOS.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Locate the [product listing for kapp](https://network.pivotal.io/products/kapp/).

1. Click **kapp - Mac** to download the `kapp` binary file.

1. Rename the downloaded binary file to `kapp`.

1. On the command line, make the `kapp` binary file executable:

    ```
    $ chmod +x kapp
    ```

1. Move the binary file into a directory that is on your `PATH`:

    ```
    $ mv kapp /usr/local/bin/kapp
    ```

#### <a id='macos-kbld'></a> kbld

This section describes how to install the `kbld` utility on macOS.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Locate the [product listing for kbld](https://network.pivotal.io/products/kbld/).

1. Click **kbld - Mac** to download the `kbld` binary file.

1. Rename the downloaded binary file to `kbld`.

1. On the command line, make the `kbld` binary file executable:

    ```
    $ chmod +x kbld
    ```

1. Move the binary file into a directory that is on your `PATH`:

    ```
    $ mv kbld /usr/local/bin/kbld
    ```

#### <a id='macos-yq'></a> yq

This section describes how to install the `yq` utility on macOS.

1. Visit the project <a href="https://github.com/mikefarah/yq/releases">Releases</a> page on GitHub and download the binary file for the latest release.

1. On the command line, make the `yq` binary file executable:

    ```
    $ chmod +x yq
    ```

1. Move the binary file into a directory that is on your `PATH`:

    ```
    $ mv yq /usr/local/bin/yq
    ```

### <a id='linux'></a> For Linux

This section describes how to install `kapp`, `kbld`, and `yq` on Linux.

#### <a id='linux-kapp'></a> kapp

This section describes how to install the `kapp` utility on Linux.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Locate the [product listing for kapp](https://network.pivotal.io/products/kapp/).

1. Click **kapp - Linux** to download the `kapp` binary file.

1. Rename the downloaded binary file to `kapp`.

1. On the command line, make the `kapp` binary file executable:

    ```
    $ chmod +x kapp
    ```

1. Move the binary file into a directory that is on your `PATH`:

    ```
    $ mv kapp /usr/local/bin/kapp
    ```

#### <a id='linux-kbld'></a> kbld

This section describes how to install the `kbld` utility on Linux.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Locate the [product listing for kbld](https://network.pivotal.io/products/kbld/).

1. Click **kbld - Linux** to download the `kbld` binary file.

1. Rename the downloaded binary file to `kbld`.

1. On the command line, make the `kbld` binary file executable:

    ```
    $ chmod +x kbld
    ```

1. Move the binary file into a directory that is on your `PATH`:

    ```
    $ mv kbld /usr/local/bin/kbld
    ```

#### <a id='linux-yq'></a> yq

This section describes how to install the `yq` utility on Linux.

1. Visit the project <a href="https://github.com/mikefarah/yq/releases">Releases</a> page on GitHub and download the binary file for the latest release.

1. On the command line, make the `yq` binary file executable:

    ```
    $ chmod +x yq
    ```

1. Move the binary file into a directory that is on your `PATH`:

    ```
    $ mv yq /usr/local/bin/yq
    ```

<!-- restore this section once SCDF for K8s supports a Windows installation procedure

### Windows

#### kapp

This section describes how to install the `kapp` utility on Windows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kapp**.

1. Click **kapp - Linux** to download the `kapp` binary.

1. Rename the downloaded binary to `kapp.exe`.

1. Move the binary into your `PATH`.

#### kbld

This section describes how to install the `kbld` utility on Windows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **kbld**.

1. Click **kbld - Linux** to download the `kbld` binary.

1. Rename the downloaded binary to `kbld.exe`.

1. Move the binary into your `PATH`.

#### ytt

This section describes how to install the `ytt` utility on Windows.

1. Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.

1. Click **ytt**.

1. Click **ytt - Linux** to download the `ytt` binary.

1. Rename the downloaded binary to `ytt.exe`.

1. Move the binary into your `PATH`.

keep this '<' here or stuff breaks, srsly ->< -->

## <a id='deploying-tas-kubernetes'></a> Next: Configure Installation Values

Before installing SCDF for Kubernetes on your Kubernetes cluster, you must configure the installation resources. See [Configuring Installation Values for VMware Spring Cloud® Data Flow for Kubernetes](./configuring-installation-values.html).
