---
title: Preparing the Kubernetes Cluster
owner: Spring Cloud Data Flow Release Engineering
---

This topic describes how to create and configure Kubernetes clusters to support Spring Cloud Data Flow for Kubernetes.

## <a id='enterprise-pks'></a> VMware Enterprise PKS

Ensure you have a Kubernetes cluster created with the following characteristics:

* The PKS version should be v1.6 or v1.7.
* The Kubernetes cluster should have at least 5 worker nodes.
* Each worker node should have at least 2 CPU and 7.5 GB of memory available for allocation.
* The worker nodes in the Kubernetes cluster should trust the container image registry that Spring Cloud Data Flow for Kubernetes will use to store buildpack-based app images. If the registry has a certificate issued from a private certificate authority (CA), this typically entails configuring the worker nodes in the Kubernetes cluster to trust the certificate of that CA.

See the [Creating Clusters](https://docs.pivotal.io/pks/create-cluster.html) topic for information about creating a cluster with Enterprise PKS.

After creating the cluster, run `pks get-credentials CLUSTER-NAME` to ensure that `kubectl` targets the cluster.

## <a id='deploying-tas-kubernetes'></a> Next: Configuring Spring Cloud Data Flow for Kubernetes Installation Values

Once you have completed the preparatory steps above, proceed to [configure Spring Cloud Data Flow for Kubernetes](configuring-installation-values.html) for installation to the Kubernetes cluster.