---
title: Preparing to Spring Cloud Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

This topic describes how to prepare dependencies and your local workstation to install Spring Cloud Data Flow for Kubernetes.

## <a id='preparing-installation-resources'></a> Preparing the Installation Resources

Download the Spring Cloud Data Flow for Kubernetes installation resources from [VMware Tanzu Network](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Log into [VMware Tanzu Network](https://network.pivotal.io).

1. Navigate to the [Spring Cloud Data Flow for Kubernetes product listing](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Download the "SCDF for Kubernetes installation scripts" file to a local directory of your choice.

1. Extract the contents of `data-flow-0.1.0.tgz`

```bash
$ tar xzvf data-flow-0.1.0.tgz
```

## <a id='image-relocation'></a> Re-locate App Images to another Container Registry [optional]

You have the option of re-locating the container images that Spring Cloud Data Flow for Kubernetes depends on to a different container image registry. Supported registries include Harbor, Google Container Registry (GCR), and DockerHub.

If you are using Harbor as your container registry, ensure that it is deployed in your environment and is accessible at a domain name of your choice. The [VMware Harbor Registry tile](https://network.pivotal.io/products/harbor-container-registry) is one option to deploy it when using Ops Manager.

Before proceeding to relocate images for Spring Cloud Data Flow for Kubernetes download the Spring Cloud Data Flow for Kubernetes installation images from [VMware Tanzu Network](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Log into [VMware Tanzu Network](https://network.pivotal.io).

1. Navigate to the [Spring Cloud Data Flow for Kubernetes product listing](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Download the "SCDF for Kubernetes installation images" file to  to the same directory where you downloaded the "SCDF for Kubernetes installation files" archive file above.

1. Extract the contents of `data-flow-images-0.1.0.tgz`

```bash
$ tar xzvf data-flow-images-0.1.0.tgz
```

Then cd to the extracted `spring-cloud-data-flow directory`. In the `bin` directory is a script `relocate-image.sh`.
It takes two arguments `--app` and `--repository`. The usage is

```bash
Usage: ./bin/relocate-image.sh [-r|--repository <arg>] [-a|--app <arg>] [-h|--help]
	-r, --repository: Import images into given image repository (no default)
	-a, --app: Application to relocate, data-flow or skipper (default: data-flow)
    -h, --help: Prints help
```

To relocate the Data Flow server, use the Docker CLI to authenticate to your reistry and execute

```bash
./bin/relocate-image.sh --app data-flow --repository <registry-repo-prefix>/spring-cloud-dataflow-server
```

For Skipper image relocation execute

```bash
./bin/relocate-image.sh --app skipper --repository <registry-repo-prefix>markpollack/spring-cloud-skipper-server
```

The relocation script will update the `kustomization.yaml` files to match the new relocated image repository locations.

## <a id='command-line-tools'></a> Command-Line Tools

The installation procedure for Spring Cloud Data Flow for Kubernetes requires a Linux or macOS workstation with the following command-line tools installed.

For more information about installing the `kapp` and `kbld` tools from VMware Tanzu Network, see the [Installing Command-Line Tools](installing-command-line-tools.html) topic.

* The Kubernetes CLI, `kubectl`. For more information, see the [Installing the Kubernetes CLI](https://docs.pivotal.io/pks/installing-kubectl-cli.html) topic.
* The `kapp` utility, version v0.22.0 or later.
* The `kbld` utility, version v0.19.0 or later.
* The `yq` utility, version v3.0 or later.
* The `sed` utility.  Should already be installed on your workstation.

## <a id='installing-command-line-tools'></a> Next: Installing Command-Line Tools

Spring Cloud Data Flow for Kubernetes installation process requires that some command line utilities are available. Proceed to the [Installing Command-Line Tools](installing-command-line-tools.html) topic for more details.
