---
title: Preparing to Install Spring Cloud Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

This topic describes how to prepare dependencies and your local workstation to install Spring Cloud Data Flow for Kubernetes.

## <a id='preparing-installation-resources'></a> Preparing the Installation Resources

Download the Spring Cloud Data Flow for Kubernetes installation resources from [VMware Tanzu Network](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Log into [VMware Tanzu Network](https://network.pivotal.io).

1. Navigate to the [Spring Cloud Data Flow for Kubernetes product listing](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Download the "SCDF for Kubernetes installation scripts" file to a local directory of your choice.

1. Extract the contents of `data-flow-1.0.1.tgz`

```bash
$ tar xzvf data-flow-1.0.1.tgz
```

## <a id='image-relocation'></a> Re-locate App Images to Another Container Registry (Optional)

You have the option of re-locating the container images that Spring Cloud Data Flow for Kubernetes depends on to a different container image registry. Supported registries include Harbor, Google Container Registry (GCR), and DockerHub.

If you use Harbor as your container registry, ensure that it is deployed in your environment and is accessible at a domain name of your choice. The [VMware Harbor Registry tile](https://network.pivotal.io/products/harbor-container-registry) is one option to deploy it when using Ops Manager.

Before proceeding to relocate images for Spring Cloud Data Flow for Kubernetes, download the Spring Cloud Data Flow for Kubernetes installation images from [VMware Tanzu Network](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Log into [VMware Tanzu Network](https://network.pivotal.io).

1. Navigate to the [Spring Cloud Data Flow for Kubernetes product listing](https://network.pivotal.io/products/p-scdf-for-kubernetes).

1. Download the "SCDF for Kubernetes installation images" file to  to the same directory where you downloaded the "SCDF for Kubernetes installation files" archive file described earlier.

1. Extract the contents of `data-flow-images-1.0.1.tgz`

```bash
$ tar xzvf data-flow-images-1.0.1.tgz
```

Then `cd` to the extracted `spring-cloud-data-flow directory`. In the `bin` directory is a script named `relocate-image.sh`.
It takes two arguments: `--app` and `--repository`. The usage is:

```bash
Usage: ./bin/relocate-image.sh [-r|--repository <arg>] [-a|--app <arg>] [-h|--help]
	-r, --repository: Import images into given image repository (no default)
	-a, --app: Application to relocate, data-flow or skipper (default: data-flow)
    -h, --help: Prints help
```

To relocate the Data Flow server, use the Docker CLI to authenticate to your reistry and run:

```bash
./bin/relocate-image.sh --app data-flow --repository <registry-repo-prefix>/spring-cloud-dataflow-server
```

For Skipper image relocation, run:

```bash
./bin/relocate-image.sh --app skipper --repository <registry-repo-prefix>/spring-cloud-skipper-server
```

The relocation script updates the `kustomization.yaml` files to match the new relocated image repository locations.

## <a id='custom-image'></a> Using Custom Built Images for Data Flow and Skipper Servers (Optional)

You have the option of replacing the container images that Spring Cloud Data Flow for Kubernetes depends on with custom built images that you provide.

In order to use these custom built images you need to replace the image references in some of the configuration files.

### Data Flow Server

For the Data Flow server you need to modify the `apps/data-flow/kustomize/overlays/production/kustomization.yaml` file for the production environment and the `apps/data-flow/kustomize/overlays/dev/kustomization.yaml` file for the development environment.

In both files, change the `newName`, `newTag` and `digest` entries under `images` to match your custom image. Here is an example:

```yaml
images:
- name: springcloud/spring-cloud-dataflow-server # used for Kustomize matching
  newName: registry.example.com/my-project/spring-cloud-dataflow-server
  newTag: my-2.5.3
  digest: sha256:c63d57e7f70130c97aaf605f17130a28a658f7cc29ea37a2bd1c5b21e59c6c74
configMapGenerator:
- name: scdf-server
  files:
  - bootstrap.yaml
  - application.yaml
bases:
- ../../base
patches:
- deployment-patch.yaml
- service-patch.yaml
```

The `digest` must match the digest of your custom image. If you would prefer to have the image pulled by the tag, then you can remove the `digest` line.

### Skipper Server

For the Skipper server you need to modify the `apps/skipper/kustomize/overlays/production/kustomization.yaml` file for the production environment and the `apps/skipper/kustomize/overlays/dev/kustomization.yaml` file for the development environment.

In both files, change the `newName`, `newTag` and `digest` entries under `images` to match your custom image. Here is an example:

```yaml
images:
- name: springcloud/spring-cloud-skipper-server # used for Kustomize matching
  newName: registry.example.com/my-project/spring-cloud-skipper-server
  newTag: my-2.4.3
  digest: sha256:327181e455b869dce61e05b53cec493e054a3bfb1788576eab39a7ca3eebfe5e
configMapGenerator:
- name: skipper
  files:
  - bootstrap.yaml
  - application.yaml
bases:
- ../../base
patches:
- deployment-patch.yaml
- service-patch.yaml
```

The `digest` must match the digest of your custom image. If you would prefer to have the image pulled by the tag, then you can remove the `digest` line.

## <a id='command-line-tools'></a> Command-Line Tools

The installation procedure for Spring Cloud Data Flow for Kubernetes requires a Linux or MacOS workstation with the following command-line tools installed:

* The Kubernetes CLI, `kubectl`. For more information, see the [Installing the Kubernetes CLI](https://docs.pivotal.io/pks/installing-kubectl-cli.html) topic.
* The `kapp` utility, version v0.22.0 or later.
* The `kbld` utility, version v0.19.0 or later.
* The `yq` utility, version v3.0 or later.
* The `sed` utility.  It should already be installed on your workstation.

For more information about installing the `kapp` and `kbld` tools from VMware Tanzu Network, see the [Installing Command-Line Tools](installing-command-line-tools.html) topic.

## <a id='installing-command-line-tools'></a> Next: Installing Command-Line Tools

The Spring Cloud Data Flow for Kubernetes installation process requires that some command-line utilities be available. Proceed to the [Installing Command-Line Tools](installing-command-line-tools.html) topic for more details.
