---
title: Spring Cloud Data Flow for Kubernetes Release Notes
owner: Spring Cloud Data Flow Release Engineering
---

This topic contains the release notes for Spring Cloud Data Flow for Kubernetes.

## <a id="0-1-0"></a>v0.1.0

**Release Date: June 3, 2020**

### <a id='features'></a> Features

Features included in this release:

- Spring Cloud Data Flow has been updated to 2.5.1
- Spring Cloud Skipper has been updated to 2.4.1
- Kustomize based deployment files for use in multiple environments
- Image relocation of Data Flow and Skipper servers
