---
title: Spring Cloud Data Flow for Kubernetes Release Notes
owner: Spring Cloud Data Flow Release Engineering
---

This topic contains the release notes for Spring Cloud Data Flow for Kubernetes.

## <a id="1-1-0"></a>v1.2.0-beta-1

**Release Date: September 1, 2020**

### <a id='features'></a> Features

Features included in this release:

- Spring Cloud Data Flow has been updated to SCDF Pro version 1.1.0
- Spring Cloud Skipper has been updated to 2.6.0
- Composed Task Runner 2.7.0 container image is now provided

## <a id="1-1-0"></a>v1.1.0

**Release Date: August 5, 2020**

### <a id='features'></a> Features

Features included in this release:

- Spring Cloud Data Flow has been updated to SCDF Pro version 1.0.0
- Spring Cloud Skipper has been updated to 2.5.0
- Composed Task Runner 2.6.0 container image is now provided

## <a id="1-0-1"></a>v1.0.1

**Release Date: July 25, 2020**

### <a id='features'></a> Features

Features included in this release:

- Spring Cloud Data Flow has been updated to 2.5.3
- Spring Cloud Skipper has been updated to 2.4.3
- Spring Cloud Data Flow for Kubernetes is now compatible with Kubernetes release versions v1.17.x and v1.18.x.

## <a id="1-0-0"></a>v1.0.0

**Release Date: July 9, 2020**

### <a id='features'></a> Features

Features included in this release:

- Spring Cloud Data Flow has been updated to 2.5.2
- Spring Cloud Skipper has been updated to 2.4.2
- Kustomize based deployment files for use in multiple environments
- Image relocation of Data Flow and Skipper servers
