---
title: Spring Cloud Data Flow for Kubernetes Release Notes
owner: Spring Cloud Data Flow Release Engineering
---

This topic contains release notes for Spring Cloud Data Flow for Kubernetes.

## <a id="1-1-3"></a>v1.1.3

**Release Date: October 6, 2020**

### <a id='features'></a> Features

Features included in this release:

* Spring Cloud Data Flow has been updated to SCDF Pro v1.0.4.
* Spring Cloud Skipper has been updated to v2.5.2.
* Composed Task Runner v2.6.3 container image is now provided.

## <a id="1-1-2"></a>v1.1.2

**Release Date: August 27, 2020**

### <a id='features'></a> Features

Features included in this release:

* Spring Cloud Data Flow has been updated to SCDF Pro v1.0.2.
* Spring Cloud Skipper has been updated to v2.5.1.
* Composed Task Runner v2.6.1 container image is now provided.

## <a id="1-1-1"></a>v1.1.1

**Release Date: August 21, 2020**

### <a id='features'></a> Features

Features included in this release:

* Spring Cloud Data Flow has been updated to SCDF Pro v1.0.1.
* Spring Cloud Skipper has been updated to v2.5.1.
* Composed Task Runner v2.6.1 container image is now provided.

## <a id="1-1-0"></a>v1.1.0

**Release Date: August 6, 2020**

### <a id='features'></a> Features

Features included in this release:

* Spring Cloud Data Flow has been updated to SCDF Pro v1.0.0.
* Spring Cloud Skipper has been updated to v2.5.0.
* Composed Task Runner v2.6.0 container image is now provided.

## <a id="1-0-1"></a>v1.0.1

**Release Date: July 25, 2020**

### <a id='features'></a> Features

Features included in this release:

* Spring Cloud Data Flow has been updated to v2.5.3.
* Spring Cloud Skipper has been updated to v2.4.3.
* Spring Cloud Data Flow for Kubernetes is now compatible with Kubernetes release versions v1.17.x and v1.18.x.

## <a id="1-0-0"></a>v1.0.0

**Release Date: July 9, 2020**

### <a id='features'></a> Features

Features included in this release:

* Spring Cloud Data Flow has been updated to v2.5.2.
* Spring Cloud Skipper has been updated to v2.4.2.
* Kustomize-based deployment files for use in multiple environments.
* Image relocation of Data Flow and Skipper server images.
