---
title: Spring Cloud Data Flow for Kubernetes Release Notes
owner: Spring Cloud Data Flow Release Engineering
---

This topic contains the release notes for Spring Cloud Data Flow for Kubernetes version 1.2.

## <a id="1-1-0"></a>v1.2.0-beta-1

**Release Date: November 6, 2020**

### <a id='features'></a> Features

Features included in this release:

- Spring Cloud Data Flow has been updated to SCDF Pro version 1.1.0-M1
- Spring Cloud Skipper has been updated to 2.6.0-M1
- Composed Task Runner 2.7.0-M1 container image is now provided
