---
title: Upgrading VMware Spring Cloud® Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

This topic describes how to upgrade an existing deployment of VMware Spring Cloud® Data Flow for Kubernetes (SCDF for Kubernetes).

## <a id='upgrade-process'></a> Upgrade Process

To upgrade SCDF for Kubernetes:

1. Download the latest release of SCDF for Kubernetes (see [Preparing to install VMware Spring Cloud® Data Flow for Kubernetes](preparing-to-install-scdf-for-kubernetes.html)).

1. Extract the downloaded archive file.

    ```
    $ tar xzvf data-flow-1.2.2.tgz
    ```

1. Compare the directory contents between the new release and the currently-installed release. For information about the directory structure of the "SCDF for Kubernetes installation files" archive, see [Directory Structure](configuring-installation-values.html#directory-structure).

1. Use a file comparison (diff) tool to compare files in the new release and the currently-installed release. Especially look for changes in the following files:
    * `application.yaml` and `bootstrap.yaml` configuration files. These files may contain new configuration values that correspond to features added to the Data Flow or Skipper servers.
    * `kustomization.yaml` files. These files will include updates to the container image tag (the `newTag` property).
    * Kubernetes resource files in the `base` subdirectories. These files will contain any new suggested resource limits or other improvements that take advantage of Kubernetes features.

1. Merge the changes into the existing files and directory structure of the currently-installed release.

1. Using the Kubernetes tool of your choice, apply the changes to your Kubernetes cluster. For example, using `kubectl kustomize` and `kapp`, you might run the following commands:

    ```
    $ kubectl kustomize [SKIPPER_OVERLAY_DIR] | kapp -y deploy -a skipper -f -`
    $ kubectl kustomize [DATA_FLOW_OVERLAY_DIR] | kapp -y deploy -a data-flow -f -`
    ```

    In these example commands, replace the `SKIPPER_OVERLAY_DIR` placeholder with the path to the `overlays` directory for the Skipper application, and replace the `DATA_FLOW_OVERLAY_DIR` placeholder with the path to the `overlays` directory for the Data Flow application.
