---
title: Upgrading Spring Cloud Data Flow for Kubernetes
owner: Spring Cloud Data Flow Release Engineering
---

This topic describes how to upgrde Spring Cloud Data Flow for Kubernetes.

## <a id='upgrade-process'></a> Upgrade Process

To upgrade the product, follow these steps

1. Download the latest release as described in the [Preparing to install Spring Cloud Data Flow for Kubernetes](preparing-to-install-scdf-for-kubernetes.html) topic.
1. Compare the contents of the kustomize based [Directory Structure](configuring-installation-values.html#directory-structure) in the newly downloaded version to the directory structure of the previously installed version.
1. Look for differences using a `diff` tool of your choice, in particular paying attention to
    * `appliation.yaml` and `bootstrap.yaml` files where new features added to the Data Flow or Skipper server will have new configuration values.
    * `kustomization.yaml` files where the container image tag, the `newTag` property, of the new version will have been updated.
    * Kubernetes resource files in `base` directories.  Suggested resource limits or other improvements that take advantage of Kuberentes features will be located here.
1. Once the `diff`s from the new version have been merged into files in your existing directory structure, apply the changes using the Kubernetes tool of your choice.  This can be
    * `kubectl kustomize [SKIPPER-OVERLAY-DIRECTORY] | kapp -y deploy -a skipper -f -`
    * `kubectl kustomize [DATA-FLOW-OVERLAY-DIRECTORY] | kapp -y deploy -a data-flow -f -`

    or whatever other tool you use to apply changes of Kuberenetes resources to your cluster.

